.flex-column {
  display: flex;
  flex-direction: column;
}

.align-self-center {
  align-self: flex-end;
  max-width: 35rem;
  background-color: #fafafa;
  font-family: "StudioFeixenSerif";
  font-size: 1.5rem;
}

.checkout-header-content {
  margin: 1rem 1rem 0rem 1rem;
}

.logo {
  font-family: "StudioFeixenSerif";
  font-size: 5rem;
  margin-bottom: 2rem;
}

@font-face {
  font-family: "StudioFeixenSerif";
  src: url("../StudioFeixenSerif-Bold.woff") format("woff");
}
