.flex-column {
  display: flex;
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.logo {
  font-family: "StudioFeixenSerif";
  font-size: 5rem;
  margin-bottom: 2rem;
}

@font-face {
  font-family: "StudioFeixenSerif";
  src: url("../StudioFeixenSerif-Bold.woff") format("woff");
}
